In [2]:
import pandas as pd
import os

# Find bboxes of all parquet files

Open all parquet files and find bboxes.
Structure of output dataset: file-(min_x,min_y)-(max_x,max_y)

In [41]:
with open('data/summary.psv', 'w') as file:
    file.write('file|min_x|min_y|max_x|max_y\n')

    for file in os.listdir('parquet'):
        df=pd.read_parquet(f'parquet/{file}')
        for row in duckdb.sql('''
            select min(X_rounded) as min_x, 
                   min(Y_rounded) as min_y, 
                   max(X_rounded) as max_x, 
                   max(Y_rounded) as max_y
            from df
            ''').to_df().itertuples():
            file.write(f'{name}|{row.min_x}|{row.min_y}|{row.max_x}|{row.max_y}\n')

In [3]:
summary=pd.read_csv('data_2024/summary.psv',sep='|')

In [4]:
summary

,file,min_x,min_y,max_x,max_y
0,039a5cbf4331d6c52e731f5af3a7d2fc,3940000.0,3190000.0,3949900.0,3199900.0
1,0977c1842c1b3ab90233746f2f57b884,4030000.0,3140000.0,4039900.0,3149900.0
2,0a324c15f78eaca86f79dfc8111d84d2,3940000.0,3100000.0,3949900.0,3109900.0
3,0a54fbd049e2d600cbaba418a0f981eb,3940000.0,3110000.0,3949900.0,3119900.0
4,0e24bef27d476993641529238abafb5d,3930000.0,3150000.0,3939900.0,3159900.0
...,...,...,...,...,...
160,f6a606315675679d1add3b9fa46ee611,3970000.0,3180000.0,3979900.0,3189900.0
161,fb3128b31ff404dd7dff23ca317214bf,3980000.0,3200000.0,3989900.0,3209900.0
162,fbc285ccb28e713cf5d83ca4784a22b4,3950000.0,3200000.0,3959900.0,3209900.0
163,fd6df55637061602f29da611f94ee9ee,4000000.0,3190000.0,4009900.0,3199900.0
164,ff255286c4d31abd4a3522054306a3c7,3920000.0,3110000.0,3929900.0,3119900.0

# Fucntion to identify file that cover given coordinates

In [6]:
import duckdb
def getFile(x,y):
    return duckdb.sql(f'''
    select file
    from summary
    where min_x<={x} and {x}<=max_x
     and  min_y<={y} and {y}<=max_y 
     ''').to_df()
    
print(getFile(3930000,3154400))

                               file
0  0e24bef27d476993641529238abafb5d